<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-goldenrod" routerLink="/">Some App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li
          class="nav-item"
          [class.active]="currentRoute === '/tasks'"
        >
          <a class="nav-link" routerLink="/tasks">Task Cards</a>
        </li>
        <li
          class="nav-item"
          [class.active]="currentRoute === '/todos'"
        >
          <a class="nav-link" routerLink="/todos">Task</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
