/* Navbar Background Color */
.bg-black {
  background-color: #000000 !important;
}

/* Goldenrod Text Color */
.text-goldenrod {
  color: goldenrod !important;
}

/* Navbar Links */
.navbar-nav .nav-link {
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

/* Hover Effects */
.navbar-nav .nav-link:hover {
  color: goldenrod !important;
  text-decoration: none;
}

/* Active Link */
.navbar-nav .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid goldenrod;
}

/* Responsive Navbar Toggler Icon */
.navbar-toggler-icon {
  background-color: white;
  width: 24px;
  height: 3px;
  display: block;
  margin: 4px 0;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;

}
