<div class="container mt-4">
  <h1 class="mb-4">Weather</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Search Input -->
      <div class="input-group mb-3">
        <input [(ngModel)]="city" class="form-control" placeholder="Enter city name">
        <button class="btn btn-primary" (click)="fetchWeather()">Get Weather</button>
      </div>

      <!-- Error Message with Fade-in Animation -->
      <div *ngIf="errorMessage" @fadeIn class="error-message-container text-center">
        <i class="fas fa-exclamation-triangle error-icon"></i>
        <p class="error-text">{{ errorMessage }}</p>
      </div>


      <!-- Weather Card with Animations -->
      <div *ngIf="weatherData  " @fadeIn class="card shadow-lg">
        <div class="card-header  text-white text-center p-3">
          <h2>{{ weatherData.location.name }}, {{ weatherData.location.country }}</h2>
          <p class="mb-0 text-light">{{ weatherData.location.region }}</p>
        </div>
        <div class="card-body text-center">
          <!-- Weather Icon with Bounce Animation -->
          <img [src]="'https:' + weatherData.current.condition.icon" alt="Weather Icon" @bounce>
          <h2 class="text-light">{{ weatherData.current.temp_c }}°C</h2>
          <p class="lead text-light">{{ weatherData.current.condition.text }}</p>

          <hr>

          <div class="row">
            <div class="col">
              <p class="text-light"><strong>Feels Like:</strong><span  class="display-6"> {{ weatherData.current.feelslike_c }}</span>°C</p>
            </div>
            <div class="col">
              <p class="text-light"><strong>Humidity:</strong> <span class="display-6"> {{ weatherData.current.humidity }}</span>%</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-light"><strong>Wind:</strong> <span class="display-6"> {{ weatherData.current.wind_kph }} </span>kph <span class="display-6"> ({{ weatherData.current.wind_dir }})</span></p>
            </div>
            <div class="col">
              <p class="text-light"><strong>Gust Speed:</strong> <span class="display-6"> {{ weatherData.current.gust_kph }}</span>kph</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-light"><strong>Pressure:</strong> <span class="display-6"> {{ weatherData.current.pressure_mb }}</span>mb</p>
            </div>
            <div class="col">
              <p class="text-light"><strong>Visibility:</strong> <span class="display-6"> {{ weatherData.current.vis_km }}</span> km</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-light"><strong>Dew Point:</strong><span class="display-6"> {{ weatherData.current.dewpoint_c }}</span>°C</p>
            </div>
            <div class="col">
              <p class="text-light"><strong>Heat Index:</strong> <span class="display-6">  {{ weatherData.current.heatindex_c }}</span>°C</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-light"><strong>UV Index:</strong> <span class="display-6"> {{ weatherData.current.uv }}</span> </p>
            </div>
          </div>

        </div>

        <div class="card-footer text-center   ">
          Last Updated: <span class="display-6">{{ weatherData.current.last_updated }}</span>
        </div>
      </div>

    </div>

  </div>
  <div *ngIf="isLoading" class="row justify-content-center align-items-center loaderDiv " >
    <div  class="loader"></div>
  </div>
</div>

