/* Navbar Background Color */
.bg-black {
  background-color: #333 !important;
}

/* Goldenrod Text Color */
.text-goldenrod {
  color: goldenrod !important;
}




/* Active Link */
.navbar-nav .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid goldenrod;
}

/* Responsive Navbar Toggler Icon */
.navbar-toggler-icon {
  background-color: white;
  width: 24px;
  height: 3px;
  display: block;
  margin: 4px 0;
}

