<div class="hangman-container">
  <h1>Hangman Game</h1>
  <p class="  text-right">Remaining Attempts: <span class="text-danger">{{maxGuesses - incorrectGuesses}}</span></p>
  <!-- Hangman Character Display -->
  <div class="hangman-figure">
    <img *ngIf="hangmanState === 'hanging'" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWhvNW01b3l4Ym0xZmRpNzJvenJzc3Z4OTIyb3BnOXhzbXo4cTIybCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fw8XWwT5YuSJGBwddf/giphy.gif" alt="Hanged Character">
    <img *ngIf="hangmanState === 'neutral'" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGJicGh0ZjF5MWFmeGZyYWRoMnpnZm9xaDZwNmI3YTdtbndpOWhqYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/d3YQCPcckxQiYibe/giphy.gif" alt="Hanged Character">
    <img *ngIf="hangmanState === 'hanging'" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWphNWdwdmc4aHAzZmNrdXJwYXQ5dGNmOHAyb2FnMzc0ZXdtMGZobyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tTc43DeTm2kkJTrI2G/giphy.gif" alt="Hanged Character">
    <img *ngIf="hangmanState === 'celebrating'" src="https://i.gifer.com/3Y0.gif" alt="Celebrating Character">
    <img *ngIf="hangmanState === 'celebrating'" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTllMHU2MWR6dWwyaWhkN3JzZGp5d3J2bzk4cXVubXRvY2FrMWVmayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0MYt5jPR6QX5pnqM/giphy.gif" alt="Celebrating Character">
    <img *ngIf="hangmanState === 'neutral'" src="https://i.gifer.com/8lL.gif" alt="Neutral Character">
  </div>
    <!-- Game Status Message -->
    <p *ngIf="hangmanState !== 'neutral'" class="game-status">
      {{ getGameStatus() }}
    </p>

  <!-- Word Display -->
  <p class="word-display">{{ getDisplayedWord() }}</p>

  <!-- Remaining Letters as Suggestions -->
  <div class="suggestions">
    <h2>Suggested Letters:</h2>
    <div class="suggestion-letters">
      <span *ngFor="let letter of getRemainingLetters()">{{ letter }}</span>
    </div>
  </div>

  <!-- Alphabet Buttons -->
  <div class="letters">
    <button *ngFor="let letter of alphabet"
            [disabled]="guessedLetters.includes(letter) || isGameOver() || isGameWon()"
            (click)="guessLetter(letter)">
      {{ letter }}
    </button>
  </div>




  <!-- Restart Game -->
<!-- Reset Attempt -->
<button class="btn-primary mr-2" (click)="resetAttempt()">Reset Attempt</button>
<!-- New Game -->
<button class="btn-primary ml-2 mx-2" (click)="fetchRandomWord()">New Game</button>

</div>
