



/* Card Styling */

.card:hover {
  box-shadow: 0px 8px 16px rgba(255, 215, 0, 0.2); /* Golden glow effect */
}
.task-list{
  background-color: #1a1a1d;
}
/* Task Items */
.task-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}
.no-category-container,.noTasks{
min-height: 30vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.no-category-container i {
font-size: 50px;

}
.no-category-container p{
  line-height: 1;
  font-size: 0.89rem;
}
.add-category-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds spacing between input and button */
}
.noTasks p{
  margin-top: 10px;
  line-height: 1;
  font-size: 0.89rem;
}
/* Input Field */

