/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik+Wet+Paint&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-style: normal;
  scroll-behavior: smooth;
  color: white; /* Neutral text color */
}
body {
  background-color: #353935;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
 word-spacing: 7px;
  margin-bottom: 1rem;
}
h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
  color: #f5f5f5;
  display: inline-block; /* Required for transformations */
  animation: flipMove 1.5s ease-in-out infinite;
}
h1::first-letter {
  font-size: 2em;
  color: goldenrod;

}
p {
  font-family: "Comfortaa", sans-serif;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* Buttons */
.btn-primary,
.btn-warning,
.btn-success,
.btn-danger {
  background-color: goldenrod;
  border: 2px solid goldenrod;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary:hover,
.btn-warning:hover,
.btn-success:hover,
.btn-danger:hover {
  transform: translateY(-3px);
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
  color: black;
}

.btn-danger:hover i {
  color: red;
  transform: rotate(15deg);
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.63rem;
  margin-top: 5px;
}

.d-flex > .btn-sm,
.d-flex > .form-select-sm {
  margin-bottom: 0.5rem; /* Adds spacing for buttons if wrapping occurs */
}

/* Alerts */
.alert {
  background-color: #fff;
  border: 2px solid goldenrod;
  color: goldenrod;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Task List */
.task-list {
  color: black;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Navigation Bar */
.navbar {
  background-color: #000; /* Deep black navbar */


}

.navbar-brand {

  color: goldenrod !important;
    background: 50% 100% / 50% 100% no-repeat
                radial-gradient(ellipse at bottom, goldenrod, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    animation:
               glow 2500ms linear infinite 2000ms;
               font-family: "Kumar One", serif;
               font-family: "Rubik Wet Paint", serif;
               font-weight: 400;
               font-style: normal;
}
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 600% 600%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 80px rgb(236, 162, 0);
      }
    }

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-nav .nav-item .nav-link:hover {
  color: goldenrod;
  display: inline-block;
  text-shadow: red 0 0 1px, rgba(255, 255, 255, 0.1) 0 1px 3px;
  color: goldenrod !important;
  text-decoration: none;
}
.navbar-nav .active {
  font-weight: bold;
  border-bottom: 2px solid goldenrod;
  color: goldenrod !important;
}
.container {
  padding: 12px;
  margin-top: 10px;
  min-height: 80vh;
  max-width: auto;
  width: 100% !important;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.3);
  animation: fadeIn 0.8s ease-in-out;
  position: relative;
  color: white;
  background-color: #1a1a1d; /* Dark Gray */
  border-radius: 1em;
}

/* Utility Classes */
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.84rem;

}
.form-select {
  background-color: #333;
  color: white;
  border: 1px solid goldenrod;
  width: 5rem;
  appearance: none; /* Removes default select arrow */
  -webkit-appearance: none; /* For Safari/Chrome */
  -moz-appearance: none; /* For Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* Form Fields */
.form-control {
  background-color: #333;
  color: white;
  border: 1px solid goldenrod;
}
.form-control:focus {
  background-color: #333;
  color: white;
  border: 1px solid goldenrod;
  outline: none;
}

@media (max-width: 576px) {
  /* For screens smaller than 576px (Bootstrap's sm breakpoint) */
  .form-control {
    font-size: 14px; /* Reduce font size */
    padding: 8px; /* Reduce padding */
  }

  .task-text {
    font-size: 14px; /* Reduce task text size */
  }

  .btn {
    font-size: 0.89rem; /* Reduce button text size */
  }
} /* Modal Dark Theme */
.dark-modal {
  background-color: #302d2d; /* Black background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 8px;
  border: 1px solid black;
}

.dark-modal .modal-header {
  border-bottom: 1px solid #333; /* Subtle border for separation */
}

.dark-modal .modal-footer {
  border-top: 1px solid #333; /* Subtle border for separation */
}

.loaderDiv {
  min-height: 60vh;
}
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 goldenrod inset;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card {
  background-color: #222; /* Dark card */
  border: 1px solid #ffd700; /* Golden border */
  color: white;
}

.card-header {
  background-color: #000; /* Black */
  border-bottom: 1px solid goldenrod;
}
h1,
h2 {
  display: inline-block; /* Allows smooth animations */
  animation: floating 3s ease-in-out infinite alternate;
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}


/* Keyframes for Floating Effect */
@keyframes floating {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-2px); /* Move up slightly */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}
h5{
  font-family: "Rubik Wet Paint", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.69;
  word-spacing: 5px;
}

